<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="proxyUserDao" class="com.ouyang.springframework.test.bean.ProxyBeanFactory"/>

    <bean id="userService" class="com.ouyang.springframework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>


    <!--注册监听器-->
    <bean class="com.ouyang.springframework.test.event.ContextRefreshedEventListener"/>

    <bean class="com.ouyang.springframework.test.event.CustomEventListener"/>

    <bean class="com.ouyang.springframework.test.event.ContextClosedEventListener"/>

</beans>