<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class = "com.ouyang.springframework.test.bean.UserService" />

    <bean class="com.ouyang.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <bean id="beforeAdvice" class="com.ouyang.springframework.test.bean.UserServiceBeforeAdvice" />

    <bean id = "methodInterceptor" class="com.ouyang.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice" />
    </bean>

    <bean id="pointcutAdvisor" class="com.ouyang.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.ouyang.springframework.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>